<h3 class="page-title"> Группы&nbsp;&nbsp;<a href="/agents" class="btn blue btn-outline">Назад</a></h3>

<div class="row">
    <div class="col-md-12">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <button id="table-groups-new" class="btn green"> Добавить
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover table-bordered" id="table-groups">
            <thead>
                <tr>
                    <th> Имя </th>
                    <th> Редактировать </th>
                    <th> Удалить </th>
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < groups.length; ++i) { %>
                <tr id="<%= groups[i].id %>">
                    <td> <%= groups[i].name %> </td>
                    <td>
                        <a class="edit" href="javascript:;"> Редактировать </a>
                    </td>
                    <td>
                        <a class="delete" href="javascript:;"> Удалить </a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
