<h3 class="page-title"> Склад&nbsp;&nbsp;<div class="btn blue btn-outline active">Приёмки</div>&nbsp;&nbsp;<a href="/stock/balances" class="btn blue btn-outline">Остатки</a></h3>

<a href="/stock/acceptance?id=new" class="btn green" id="new-acceptance-btn">
  <i class="fa fa-plus"></i> Новая приёмка
</a>
